/* App.css */

.base-converter-container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background: #e6e4e2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  background: #d99999;
}

.heading {
  font-size: 36px;
  margin-bottom: 25px;
}

.input-container {
  width: 100%;
  margin-bottom: 25px;
}

.label {
  font-size: 16px;
  margin-bottom: 5px;
  font-weight: 500;
}

.input-field,
.select-field {
  width: 100%;
  padding: 8px;
  font-size: 16px;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.convert-button,
.swap-button {
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
}

.output-container {
  width: 100%;
  margin-top: 30px;
}

.output-label {
  font-size: 16px;
  margin-bottom: 5px;
}

.output-field {
  width: 100%;
  padding: 8px;
  font-size: 16px;
}


@media (max-width: 768px) {
  .heading {
    font-size: 30px;
  }
  body {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  .base-converter-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }

  .input-container,
  .button-container,
  .output-container {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }

  .input-field,
  .select-field,
  .output-field {
    width: 80%;
  }
}

@media (max-width: 480px) {
  .heading {
    font-size: 20px;
  }
}


