/* App.css */

.base-converter-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  color: #333;
  transition: background-color 0.3s ease;
}

.base-converter-container.day {
  background-color:#333 ;
  color:  #f5f5f5;
}

.base-converter-container.night {
  background-color: #f5f5f5;
  color: #333;
}

.heading {
  text-align: center;
}

.toggle-button {
  display: block;
  margin: 10px auto;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

.toggle-button.day {
  color: #f5f5f5;
}

.toggle-button.night {
  color: black;
}

.input-container {
  margin-bottom: 10px;
}

.label {
  display: block;
  margin-bottom: 5px;
}

.input-field,
.select-field,
.output-field {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.convert-button,
.swap-button {
  flex: 1;
  margin-right: 5px;
}

.output-container {
  margin-top: 10px;
}

.output-label {
  display: block;
  margin-bottom: 5px;
}

.output-field {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
